@model Cay.Canh.Web.HDT.ViewModel.Cartmodel

<div class="user">
    <a asp-action="Index" asp-controller="Carts" class="btn cart">
        <i class="fa fa-shopping-cart"></i>
        <span >@Model.Quantity</span>
    </a>
</div>  