<div class="footer bg-light py-4">
    <div class="container">
        <div class="row text-center text-md-left justify-content-between">
            <!-- Cột 1: Liên hệ -->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="footer-widget">
                    <h2 class="fw-bold mb-3">Liên hệ</h2>
                    <div class="contact-info">
                        <h6><i class="fa fa-map-marker me-2"></i> 114, Kiên Thị Nhẫn, TP Trà Vinh</h6>
                        <h6><i class="fa fa-envelope me-2"></i> 3TL@hmail.com</h6>
                        <h6><i class="fa fa-phone me-2"></i> 0398 123 123</h6>
                    </div>
                </div>
            </div>

            <!-- Cột 2: Theo dõi -->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="footer-widget">
                    <h2 class="fw-bold mb-3">Theo dõi</h2>
                    <div class="social">
                        <a href="#" class="text-dark me-3"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="text-dark me-3"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="text-dark"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>

            <!-- Cột 3: Thông tin cá nhân -->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="footer-widget">
                    <h2 class="fw-bold mb-3">Thông tin cá nhân</h2>
                    <ul class="list-unstyled">
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole("Admin"))
                            {
                                <li><a asp-controller="Users" asp-action="DangXuat" class="text-secondary d-block mb-2"><i class="fa fa-angle-right me-2"></i>Đăng xuất</a></li>
                                <li><a href="#" class="text-secondary d-block mb-2"><i class="fa fa-angle-right me-2"></i>Quản lý</a></li>
                            }
                            else
                            {
                                <li><a asp-controller="Users" asp-action="DangXuat" class="text-secondary d-block mb-2"><i class="fa fa-angle-right me-2"></i>Đăng xuất</a></li>
                                <li><a asp-controller="Users" asp-action="Details" class="text-secondary d-block mb-2"><i class="fa fa-angle-right me-2"></i>Thông tin tài khoản</a></li>
                                <li><a asp-controller="Carts" asp-action="Index" class="text-secondary d-block mb-2"><i class="fa fa-angle-right me-2"></i>Giỏ hàng</a></li>
                                <li><a asp-controller="Orders" asp-action="Index" class="text-secondary d-block mb-2"><i class="fa fa-angle-right me-2"></i>Lịch sử đơn hàng</a></li>
                            }
                        }
                        else
                        {
                            <li><a asp-controller="Users" asp-action="Dangnhap" class="text-secondary d-block mb-2"><i class="fa fa-angle-right me-2"></i>Đăng nhập</a></li>
                            <li><a asp-controller="Users" asp-action="DangKy" class="text-secondary d-block mb-2"><i class="fa fa-angle-right me-2"></i>Đăng ký</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
