<div class="nav">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a href="#" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    <a asp-action="Index", asp-controller="Home" class="nav-item nav-link active">Trang chủ</a>
                    <a asp-action="Index", asp-controller="Products" class="nav-item nav-link">Sản phẩm</a>
                </div>
                <div class="navbar-nav ml-auto">
                    <div class="nav-item dropdown">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">
                                <img src="@Url.Content("~/img/users/" + (User.FindFirst("ImageUrl")?.Value ?? "user_boy.jpg"))"
                                     alt="User Image"
                                     class="rounded-circle"
                                     width="60"
                                     height="60"
                                     onerror="this.onerror=null;this.src='~/img/users/user_boy.jpg';" />
                                <span>@User.Identity.Name</span>
                            </button>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a asp-controller="Users" asp-action="DangXuat" class="dropdown-item">Đăng xuất</a>
                                @if (User.IsInRole("Admin"))
                                {
                                    <a asp-controller="Admin" asp-action="Index" class="dropdown-item">Quản lý</a>
                                }
                                else
                                {
                                    <a asp-controller="Users" asp-action="Details" class="dropdown-item">Thông tin cá nhân</a>
                                }
                            </div>
                        }
                        else
                        {
                            <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">
                                Đăng nhập/Đăng ký
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a asp-controller="Users" asp-action="Dangnhap" class="dropdown-item">Đăng nhập</a>
                                <a asp-controller="Users" asp-action="DangKy" class="dropdown-item">Đăng ký</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>

<!-- Bottom Bar Start -->
<div class="bottom-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-3">
                <div class="logo">
                    <a asp-action="Index" , asp-controller="Home">
                        <h1>TREE SHOP</h1>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="search">
                    <form asp-action="Search" asp-controller="Products">
                    <input type="search" name="query" id="search" placeholder="Tìm kiếm sản phẩm">
                    <button><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
            <div class="col-md-3">
                <div class="user">
                    @await Component.InvokeAsync("Cart")
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bottom Bar End -->